<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include layout/nav-bar %>
    <br><br>
    <form class="" action="/students/edit/<%=data.id%>" method="post">
      <fieldset>
        <legend>Edit Student</legend>
        <input type="text" name="first_name" value="<%=data.first_name%>"><br>
        <input type="text" name="last_name" value="<%=data.last_name%>"><br>
        <input type="text" name="email" value="<%=data.email%>"><br>
        <input type="submit" value="Update">
      </fieldset>
    </form>

  </body>
</html>
