<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include layout/link %>
    <%- include layout/title %>
  </head>
  <body>
    <%- include layout/nav-bar %>
    <div class="center-align">
      <h4>Daftar Students</h4>
      <a href="students/add">add Student</a>
    </div>
    <div class="container">
      <br><br>
      <table border="1">
        <tbody>
          <th>No</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
          <th>Options</th>
          <% var i=1; data.forEach(d=> {%>
          <tr>
            <td><%=i++%></td>
            <td><%=d.first_name%></td>
            <td><%=d.last_name%></td>
            <td><%=d.email%></td>
            <td><a href="students/<%=d.id%>/addsubject">Add Subject</a></td>
            <td><a href="students/edit/<%=d.id%>">Edit</a> |
              <a href="students/delete/<%=d.id%>" onclick="return confirm('delete this student?')">Delete</a></td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>
    <%- include layout/script %>
  </body>
</html>
