<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include layout/title %>
  </head>
  <body>
    <%- include layout/nav-bar %>
    <h1>Daftar Teachers</h1>
    <a href="teachers/add">add Teacher</a>
    <br><br>
    <table border="1">
      <tbody>
        <th>No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Options</th>
        <% var i=1; data.forEach(d=> {%>
        <tr>
          <td><%=i++%></td>
          <td><%=d.first_name%></td>
          <td><%=d.last_name%></td>
          <td><%=d.email%></td>
          <td><% if (d.SubjectId != null) {%>
                <%= d.Subject.subject_name %>
              <%} else {%>
                <%= 'Unassigned' %>
              <%}%></td>
          <td><a href="teachers/edit/<%=d.id%>">Edit</a> |
            <a href="teachers/delete/<%=d.id%>" onclick="return confirm('delete this teacher?')">Delete</a></td>
        </tr>
        <%})%>
      </tbody>
    </table>
  </body>
</html>
